{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="{%  static "js/my_script.js" %}"></script>
</head>
<body>
<img src="{% static "media/logo_dja.png" %}">
<div class="container">
{% for v in video %}
        <h3>{{ v.title }}</h3>
        <iframe width="1280" height="720" src="{{ v.url }}"></iframe>
        <h4>{{ v.description }}</h4>
        <h3 class="like_teg" id="{{ v.id }}"> Likes: {{ v.likes }}</h3>
        <h6>Date publish: {{ v.date }}</h6>
        {% for c in v.comment_set.all %}
            <h5>{{ c.text }}</h5>
            <h4>Added from: {{ c.comment_user.username }}</h4>
            <h5>total likes: {{ c.likes }}</h5>
        {% endfor %}
    {% endfor %}
</div>
</body>
</html>